@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>



<h1>___ Calling ViewComponent here ___</h1>
@await Component.InvokeAsync("Name")

<h1>___ Grid ViewComponent here ___</h1>
@await Component.InvokeAsync("Grid")